#main{
    margin: {
        top: 10px;
        left: 20px;
        right: 20px;
    }
    #top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    #mainTextarea{
        text-align: center;
        textarea{
            height: 88vh;
            width: 96vw;
            resize: none;
            font-size: 16px;
        }
    }
    #under{
        display: flex;
        justify-content: space-between;
    }
}
