#main{
	margin: 2vh;
}

#top{
	display: flex;
	justify-content: space-between;
	margin-bottom: 4px;
}

#mainTextarea{
    text-align: center;
    textarea{
        height: 85vh;
        width: 96vw;
        resize: none;
        font-size: 16px;
    }
}

#under{
	display: flex;
	justify-content: space-between;
	margin-bottom: 4px;
}
